/* ---------- Defaults ---------- */

body {
  margin: 40px auto;
  max-width: 55em;
  line-height: 1.5;
  color: #444;
  padding: 0 10px;
}


h1,h2,h3 {
  line-height: 1.2;
}

code {
  background-color: #EEEEEE;
  padding: 0.2em;
}


/* ---------- For D3 ---------- */

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: #000;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
